<div class="container">
  <div class="row">
    <div class="col form-group">
      <label>Payee Name</label>
      <input class="form-control" type="text" (input)="onNameChange($event)">
    </div>
    <div class="col">
      <label for=""><b>Name</b></label>
      <p>{{ name | titlecase }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <label>Date</label>
      <input class="form-control" type="date" (input)="onDateChange($event)">
    </div>
    <div class="col">
      <label for=""><b>Date</b></label>
      <p>{{ date | date:'longDate' }} </p>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <label>Value</label>
      <input class="form-control" type="number" (input)="onValueChange($event)">
    </div>
    <div class="col">
      <label for=""><b>Value</b></label>
      <p>{{ value  | number: '1.0-2' | currency: '€' }} </p>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <label>Miles</label>
      <input class="form-control" type="number" (input)="onMilesChange($event)">
    </div>
    <div class="col">
      <label for=""><b>Kilometers</b></label>
      <p>{{ miles  | number: '1.0-2' | currency: '€' }} </p>
    </div>
  </div>
</div>
